@mixin flexUl {
  display: flex;
  flex-direction: column;
}

main {
  background-color: #21222c;
  color: #afb2bf;

  padding: 12px;

  h1 {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #95c379;
  }

  > ul {
    @include flexUl;
    gap: 20px;

    li > ul {
      @include flexUl;
      gap: 5px;

      li:first-child {
        margin-top: 10px;
      }
    }
  }
}
